{% extends 'base.html' %}

{% block title %}
    Mercado
{% endblock %}

{% block content %}

    <div class="row" style="margin-left: 20px;">
        <div class="col-8">
            <h2>Items Disponíveis no mercado</h2>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Código de Barras</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    {% include 'includes/items_modals.html' %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.barcode }}</td>
                        <td>R$ {{ item.price }}</td>
                        <td>
                            <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">Informações</button>
                            <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Comprar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h2>Items no inventário</h2>
            <br>
            <div class="row">
                {% for owned_item in owned_items %}
                {% include 'includes/owned_items_modals.html' %}
                    <div class="col-md-6">
                        <div style="margin-bottom: 5px" class="card text-center bg-dark">
                            <div class="card-body">
                                <h5 class="card-title">{{ owned_item.name }}</h5>
                                <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                        data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                                    Vender Item
                                </button>
                                <p class="card-text"><strong>
                                    Esse item Custa R$ {{ owned_item.price }}
                                </strong></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}